apiVersion: v1
kind: ServiceAccount
metadata:
  name: skupper-local-ca-configmap
  namespace: rhsi
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: skupper-local-ca-configmap
  namespace: rhsi
rules:
  - apiGroups: [""]
    resources: ["secrets"]
    verbs: ["get", "list", "watch"]
  - apiGroups: [""]
    resources: ["configmaps"]
    verbs: ["get", "create", "update", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: skupper-local-ca-configmap
  namespace: rhsi
subjects:
  - kind: ServiceAccount
    name: skupper-local-ca-configmap
    namespace: rhsi
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: skupper-local-ca-configmap
